
html {
  direction: rtl !important; }

body {
  text-align: right !important;
  font-family: IRANSans;
}

.dropdown-menu.show {
  text-align: right;
  left: auto !important;
  right: 0;
  bottom: auto; }

.dropdown-menu-right {
  right: auto !important;
  left: 0 !important; }
.dropdown-menu-right.show {
  left: 0 !important; }

ul {
  padding-right: 0; }

.list-inline-item:not(:last-child) {
  margin-left: 6px;
  margin-right: 0px; }

.btn-label {
  margin: -.55rem -.9rem -.55rem .9rem; }

.btn-label-right {
  margin: -0.47rem 0.75rem -0.47rem -0.75rem; }

.btn-group,
.btn-group-vertical {
  direction: ltr; }

.pagination .page-item:first-child .page-link {
  margin-right: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.blockquote-reverse {
  text-align: left !important; }

dd {
  margin-right: 0; }

.custom-modal-title {
  text-align: right; }

.modal-header .close {
  margin: -1rem auto -1rem -1rem;
  left: 0px; }

.modal-demo .close {
  left: 25px;
  right: auto; }

.modal-footer > :not(:first-child) {
  margin-right: .25rem;
  margin-left: 0; }

.modal-footer > :not(:last-child) {
  margin-left: .25rem;
  margin-right: 0; }

.alert-dismissible {
  padding-left: 3.8125rem;
  padding-right: 1.25rem; }
.alert-dismissible .close {
  left: 0;
  right: auto; }

.breadcrumb-item + .breadcrumb-item {
  padding-right: 0.5rem;
  padding-left: 0px; }
.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.5rem;
  content: "\F141";
  padding-right: 0px; }

.form-check {
  padding-left: 0;
  padding-right: 1.25rem; }

.form-check-input {
  margin-left: 0;
  margin-right: -1.25rem; }

.form-check-inline {
  margin-left: .75rem;
  margin-right: 0; }

.custom-control {
  padding-right: 1.5rem;
  padding-left: 0; }

.custom-control-inline {
  margin-right: 0;
  margin-left: 1rem; }

.custom-control-label::before {
  left: auto;
  right: -1.5rem; }

.custom-control-label::after {
  left: auto;
  right: -1.5rem; }

.custom-switch {
  padding-right: 2.25rem;
  padding-left: 0; }
.custom-switch .custom-control-label::before {
  right: -2.25rem;
  left: auto; }
.custom-switch .custom-control-label::after {
  right: calc(-2.25rem + 2px);
  left: auto; }
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  -webkit-transform: translateX(-0.75rem);
  transform: translateX(-0.75rem); }

.custom-file-label::after {
  right: auto;
  left: 0;
  border-right: inherit; }

.input-group-prepend {
  margin-left: -1px;
  margin-right: 0; }

.input-group-append {
  margin-right: -1px;
  margin-left: 0; }

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child),
.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1 {
  margin-left: 0.25rem !important;
  margin-right: 0 !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1 {
  margin-right: 0.25rem !important;
  margin-left: 0 !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2 {
  margin-left: 0.5rem !important;
  margin-right: 0 !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2 {
  margin-right: 0.5rem !important;
  margin-left: 0 !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3 {
  margin-left: 1rem !important;
  margin-right: 0 !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3 {
  margin-right: 1rem !important;
  margin-left: 0 !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4 {
  margin-left: 1.5rem !important;
  margin-right: 0 !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4 {
  margin-right: 1.5rem !important;
  margin-left: 0 !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5 {
  margin-left: 3rem !important;
  margin-right: 0 !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5 {
  margin-right: 3rem !important;
  margin-left: 0 !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1 {
  padding-left: 0.25rem !important;
  padding-right: 0 !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1 {
  padding-right: 0.25rem !important;
  padding-left: 0 !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2 {
  padding-left: 0.5rem !important;
  padding-right: 0 !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2 {
  padding-right: 0.5rem !important;
  padding-left: 0 !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3 {
  padding-left: 1rem !important;
  padding-right: 0 !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3 {
  padding-right: 1rem !important;
  padding-left: 0 !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4 {
  padding-left: 1.5rem !important;
  padding-right: 0 !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4 {
  padding-right: 1.5rem !important;
  padding-left: 0 !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5 {
  padding-left: 3rem !important;
  padding-right: 0 !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5 {
  padding-right: 3rem !important;
  padding-left: 0 !important; }

.m-n1 {
  margin: -0.25rem !important; }

.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important; }

.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important; }

.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important; }

.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important; }

.m-n2 {
  margin: -0.5rem !important; }

.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important; }

.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important; }

.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important; }

.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important; }

.m-n3 {
  margin: -1rem !important; }

.mt-n3,
.my-n3 {
  margin-top: -1rem !important; }

.mr-n3,
.mx-n3 {
  margin-right: -1rem !important; }

.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important; }

.ml-n3,
.mx-n3 {
  margin-left: -1rem !important; }

.m-n4 {
  margin: -1.5rem !important; }

.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important; }

.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important; }

.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important; }

.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important; }

.m-n5 {
  margin: -3rem !important; }

.mt-n5,
.my-n5 {
  margin-top: -3rem !important; }

.mr-n5,
.mx-n5 {
  margin-right: -3rem !important; }

.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important; }

.ml-n5,
.mx-n5 {
  margin-left: -3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: inherit !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.ml-auto {
  margin-right: auto !important;
  margin-left: 0 !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }
  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }
  .mr-sm-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }
  .ml-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-sm-1 {
    margin: 0.25rem !important; }
  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }
  .mr-sm-1 {
    margin-left: 0.25rem !important;
    margin-right: 0 !important; }
  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }
  .ml-sm-1 {
    margin-right: 0.25rem !important;
    margin-left: 0 !important; }
  .m-sm-2 {
    margin: 0.5rem !important; }
  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }
  .mr-sm-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important; }
  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }
  .ml-sm-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important; }
  .m-sm-3 {
    margin: 1rem !important; }
  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }
  .mr-sm-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important; }
  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }
  .ml-sm-3 {
    margin-right: 1rem !important;
    margin-left: 0 !important; }
  .m-sm-4 {
    margin: 1.5rem !important; }
  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }
  .mr-sm-4 {
    margin-left: 1.5rem !important;
    margin-right: 0 !important; }
  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }
  .ml-sm-4 {
    margin-right: 1.5rem !important;
    margin-left: 0 !important; }
  .m-sm-5 {
    margin: 3rem !important; }
  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }
  .mr-sm-5 {
    margin-left: 3rem !important;
    margin-right: 0 !important; }
  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }
  .ml-sm-5 {
    margin-right: 3rem !important;
    margin-left: 0 !important; }
  .p-sm-0 {
    padding: 0 !important; }
  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }
  .pr-sm-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }
  .pl-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .p-sm-1 {
    padding: 0.25rem !important; }
  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }
  .pr-sm-1 {
    padding-left: 0.25rem !important;
    padding-right: 0 !important; }
  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }
  .pl-sm-1 {
    padding-right: 0.25rem !important;
    padding-left: 0 !important; }
  .p-sm-2 {
    padding: 0.5rem !important; }
  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }
  .pr-sm-2 {
    padding-left: 0.5rem !important;
    padding-right: 0 !important; }
  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }
  .pl-sm-2 {
    padding-right: 0.5rem !important;
    padding-left: 0 !important; }
  .p-sm-3 {
    padding: 1rem !important; }
  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }
  .pr-sm-3 {
    padding-left: 1rem !important;
    padding-right: 0 !important; }
  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }
  .pl-sm-3 {
    padding-right: 1rem !important;
    padding-left: 0 !important; }
  .p-sm-4 {
    padding: 1.5rem !important; }
  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }
  .pr-sm-4 {
    padding-left: 1.5rem !important;
    padding-right: 0 !important; }
  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }
  .pl-sm-4 {
    padding-right: 1.5rem !important;
    padding-left: 0 !important; }
  .p-sm-5 {
    padding: 3rem !important; }
  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }
  .pr-sm-5 {
    padding-left: 3rem !important;
    padding-right: 0 !important; }
  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }
  .pl-sm-5 {
    padding-right: 3rem !important;
    padding-left: 0 !important; }
  .m-sm-n1 {
    margin: -0.25rem !important; }
  .mt-sm-n1,
  .my-sm-n1 {
    margin-top: -0.25rem !important; }
  .mr-sm-n1,
  .mx-sm-n1 {
    margin-right: -0.25rem !important; }
  .mb-sm-n1,
  .my-sm-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-sm-n1,
  .mx-sm-n1 {
    margin-left: -0.25rem !important; }
  .m-sm-n2 {
    margin: -0.5rem !important; }
  .mt-sm-n2,
  .my-sm-n2 {
    margin-top: -0.5rem !important; }
  .mr-sm-n2,
  .mx-sm-n2 {
    margin-right: -0.5rem !important; }
  .mb-sm-n2,
  .my-sm-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-sm-n2,
  .mx-sm-n2 {
    margin-left: -0.5rem !important; }
  .m-sm-n3 {
    margin: -1rem !important; }
  .mt-sm-n3,
  .my-sm-n3 {
    margin-top: -1rem !important; }
  .mr-sm-n3,
  .mx-sm-n3 {
    margin-right: -1rem !important; }
  .mb-sm-n3,
  .my-sm-n3 {
    margin-bottom: -1rem !important; }
  .ml-sm-n3,
  .mx-sm-n3 {
    margin-left: -1rem !important; }
  .m-sm-n4 {
    margin: -1.5rem !important; }
  .mt-sm-n4,
  .my-sm-n4 {
    margin-top: -1.5rem !important; }
  .mr-sm-n4,
  .mx-sm-n4 {
    margin-right: -1.5rem !important; }
  .mb-sm-n4,
  .my-sm-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-sm-n4,
  .mx-sm-n4 {
    margin-left: -1.5rem !important; }
  .m-sm-n5 {
    margin: -3rem !important; }
  .mt-sm-n5,
  .my-sm-n5 {
    margin-top: -3rem !important; }
  .mr-sm-n5,
  .mx-sm-n5 {
    margin-right: -3rem !important; }
  .mb-sm-n5,
  .my-sm-n5 {
    margin-bottom: -3rem !important; }
  .ml-sm-n5,
  .mx-sm-n5 {
    margin-left: -3rem !important; }
  .m-sm-auto {
    margin: auto !important; }
  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }
  .mr-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important;
    margin-right: inherit !important; }
  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }
  .mx-sm-auto {
    margin-right: auto !important;
    margin-left: auto !important; }
  .ml-sm-auto {
    margin-right: auto !important;
    margin-left: 0 !important; } }

@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }
  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }
  .mr-md-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }
  .ml-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-md-1 {
    margin: 0.25rem !important; }
  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }
  .mr-md-1 {
    margin-left: 0.25rem !important;
    margin-right: 0 !important; }
  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }
  .ml-md-1 {
    margin-right: 0.25rem !important;
    margin-left: 0 !important; }
  .m-md-2 {
    margin: 0.5rem !important; }
  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }
  .mr-md-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important; }
  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }
  .ml-md-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important; }
  .m-md-3 {
    margin: 1rem !important; }
  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }
  .mr-md-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important; }
  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }
  .ml-md-3 {
    margin-right: 1rem !important;
    margin-left: 0 !important; }
  .m-md-4 {
    margin: 1.5rem !important; }
  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }
  .mr-md-4 {
    margin-left: 1.5rem !important;
    margin-right: 0 !important; }
  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }
  .ml-md-4 {
    margin-right: 1.5rem !important;
    margin-left: 0 !important; }
  .m-md-5 {
    margin: 3rem !important; }
  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }
  .mr-md-5 {
    margin-left: 3rem !important;
    margin-right: 0 !important; }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }
  .ml-md-5 {
    margin-right: 3rem !important;
    margin-left: 0 !important; }
  .p-md-0 {
    padding: 0 !important; }
  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }
  .pr-md-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }
  .pl-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .p-md-1 {
    padding: 0.25rem !important; }
  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }
  .pr-md-1 {
    padding-left: 0.25rem !important;
    padding-right: 0 !important; }
  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }
  .pl-md-1 {
    padding-right: 0.25rem !important;
    padding-left: 0 !important; }
  .p-md-2 {
    padding: 0.5rem !important; }
  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }
  .pr-md-2 {
    padding-left: 0.5rem !important;
    padding-right: 0 !important; }
  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }
  .pl-md-2 {
    padding-right: 0.5rem !important;
    padding-left: 0 !important; }
  .p-md-3 {
    padding: 1rem !important; }
  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }
  .pr-md-3 {
    padding-left: 1rem !important;
    padding-right: 0 !important; }
  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }
  .pl-md-3 {
    padding-right: 1rem !important;
    padding-left: 0 !important; }
  .p-md-4 {
    padding: 1.5rem !important; }
  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }
  .pr-md-4 {
    padding-left: 1.5rem !important;
    padding-right: 0 !important; }
  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }
  .pl-md-4 {
    padding-right: 1.5rem !important;
    padding-left: 0 !important; }
  .p-md-5 {
    padding: 3rem !important; }
  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }
  .pr-md-5 {
    padding-left: 3rem !important;
    padding-right: 0 !important; }
  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }
  .pl-md-5 {
    padding-right: 3rem !important;
    padding-left: 0 !important; }
  .m-md-n1 {
    margin: -0.25rem !important; }
  .mt-md-n1,
  .my-md-n1 {
    margin-top: -0.25rem !important; }
  .mr-md-n1,
  .mx-md-n1 {
    margin-right: -0.25rem !important; }
  .mb-md-n1,
  .my-md-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-md-n1,
  .mx-md-n1 {
    margin-left: -0.25rem !important; }
  .m-md-n2 {
    margin: -0.5rem !important; }
  .mt-md-n2,
  .my-md-n2 {
    margin-top: -0.5rem !important; }
  .mr-md-n2,
  .mx-md-n2 {
    margin-right: -0.5rem !important; }
  .mb-md-n2,
  .my-md-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-md-n2,
  .mx-md-n2 {
    margin-left: -0.5rem !important; }
  .m-md-n3 {
    margin: -1rem !important; }
  .mt-md-n3,
  .my-md-n3 {
    margin-top: -1rem !important; }
  .mr-md-n3,
  .mx-md-n3 {
    margin-right: -1rem !important; }
  .mb-md-n3,
  .my-md-n3 {
    margin-bottom: -1rem !important; }
  .ml-md-n3,
  .mx-md-n3 {
    margin-left: -1rem !important; }
  .m-md-n4 {
    margin: -1.5rem !important; }
  .mt-md-n4,
  .my-md-n4 {
    margin-top: -1.5rem !important; }
  .mr-md-n4,
  .mx-md-n4 {
    margin-right: -1.5rem !important; }
  .mb-md-n4,
  .my-md-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-md-n4,
  .mx-md-n4 {
    margin-left: -1.5rem !important; }
  .m-md-n5 {
    margin: -3rem !important; }
  .mt-md-n5,
  .my-md-n5 {
    margin-top: -3rem !important; }
  .mr-md-n5,
  .mx-md-n5 {
    margin-right: -3rem !important; }
  .mb-md-n5,
  .my-md-n5 {
    margin-bottom: -3rem !important; }
  .ml-md-n5,
  .mx-md-n5 {
    margin-left: -3rem !important; }
  .m-md-auto {
    margin: auto !important; }
  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }
  .mr-md-auto,
  .mx-md-auto {
    margin-left: auto !important;
    margin-right: inherit !important; }
  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }
  .mx-md-auto {
    margin-right: auto !important;
    margin-left: auto !important; }
  .ml-md-auto {
    margin-right: auto !important;
    margin-left: 0 !important; } }

@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }
  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }
  .mr-lg-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }
  .ml-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-lg-1 {
    margin: 0.25rem !important; }
  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }
  .mr-lg-1 {
    margin-left: 0.25rem !important;
    margin-right: 0 !important; }
  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }
  .ml-lg-1 {
    margin-right: 0.25rem !important;
    margin-left: 0 !important; }
  .m-lg-2 {
    margin: 0.5rem !important; }
  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }
  .mr-lg-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important; }
  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }
  .ml-lg-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important; }
  .m-lg-3 {
    margin: 1rem !important; }
  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }
  .mr-lg-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important; }
  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }
  .ml-lg-3 {
    margin-right: 1rem !important;
    margin-left: 0 !important; }
  .m-lg-4 {
    margin: 1.5rem !important; }
  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }
  .mr-lg-4 {
    margin-left: 1.5rem !important;
    margin-right: 0 !important; }
  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }
  .ml-lg-4 {
    margin-right: 1.5rem !important;
    margin-left: 0 !important; }
  .m-lg-5 {
    margin: 3rem !important; }
  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }
  .mr-lg-5 {
    margin-left: 3rem !important;
    margin-right: 0 !important; }
  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }
  .ml-lg-5 {
    margin-right: 3rem !important;
    margin-left: 0 !important; }
  .p-lg-0 {
    padding: 0 !important; }
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }
  .pr-lg-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }
  .pl-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .p-lg-1 {
    padding: 0.25rem !important; }
  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }
  .pr-lg-1 {
    padding-left: 0.25rem !important;
    padding-right: 0 !important; }
  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }
  .pl-lg-1 {
    padding-right: 0.25rem !important;
    padding-left: 0 !important; }
  .p-lg-2 {
    padding: 0.5rem !important; }
  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }
  .pr-lg-2 {
    padding-left: 0.5rem !important;
    padding-right: 0 !important; }
  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }
  .pl-lg-2 {
    padding-right: 0.5rem !important;
    padding-left: 0 !important; }
  .p-lg-3 {
    padding: 1rem !important; }
  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }
  .pr-lg-3 {
    padding-left: 1rem !important;
    padding-right: 0 !important; }
  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }
  .pl-lg-3 {
    padding-right: 1rem !important;
    padding-left: 0 !important; }
  .p-lg-4 {
    padding: 1.5rem !important; }
  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }
  .pr-lg-4 {
    padding-left: 1.5rem !important;
    padding-right: 0 !important; }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }
  .pl-lg-4 {
    padding-right: 1.5rem !important;
    padding-left: 0 !important; }
  .p-lg-5 {
    padding: 3rem !important; }
  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }
  .pr-lg-5 {
    padding-left: 3rem !important;
    padding-right: 0 !important; }
  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }
  .pl-lg-5 {
    padding-right: 3rem !important;
    padding-left: 0 !important; }
  .m-lg-n1 {
    margin: -0.25rem !important; }
  .mt-lg-n1,
  .my-lg-n1 {
    margin-top: -0.25rem !important; }
  .mr-lg-n1,
  .mx-lg-n1 {
    margin-right: -0.25rem !important; }
  .mb-lg-n1,
  .my-lg-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-lg-n1,
  .mx-lg-n1 {
    margin-left: -0.25rem !important; }
  .m-lg-n2 {
    margin: -0.5rem !important; }
  .mt-lg-n2,
  .my-lg-n2 {
    margin-top: -0.5rem !important; }
  .mr-lg-n2,
  .mx-lg-n2 {
    margin-right: -0.5rem !important; }
  .mb-lg-n2,
  .my-lg-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-lg-n2,
  .mx-lg-n2 {
    margin-left: -0.5rem !important; }
  .m-lg-n3 {
    margin: -1rem !important; }
  .mt-lg-n3,
  .my-lg-n3 {
    margin-top: -1rem !important; }
  .mr-lg-n3,
  .mx-lg-n3 {
    margin-right: -1rem !important; }
  .mb-lg-n3,
  .my-lg-n3 {
    margin-bottom: -1rem !important; }
  .ml-lg-n3,
  .mx-lg-n3 {
    margin-left: -1rem !important; }
  .m-lg-n4 {
    margin: -1.5rem !important; }
  .mt-lg-n4,
  .my-lg-n4 {
    margin-top: -1.5rem !important; }
  .mr-lg-n4,
  .mx-lg-n4 {
    margin-right: -1.5rem !important; }
  .mb-lg-n4,
  .my-lg-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-lg-n4,
  .mx-lg-n4 {
    margin-left: -1.5rem !important; }
  .m-lg-n5 {
    margin: -3rem !important; }
  .mt-lg-n5,
  .my-lg-n5 {
    margin-top: -3rem !important; }
  .mr-lg-n5,
  .mx-lg-n5 {
    margin-right: -3rem !important; }
  .mb-lg-n5,
  .my-lg-n5 {
    margin-bottom: -3rem !important; }
  .ml-lg-n5,
  .mx-lg-n5 {
    margin-left: -3rem !important; }
  .m-lg-auto {
    margin: auto !important; }
  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }
  .mr-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
    margin-right: inherit !important; }
  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }
  .mx-lg-auto {
    margin-right: auto !important;
    margin-left: auto !important; }
  .ml-lg-auto {
    margin-right: auto !important;
    margin-left: 0 !important; } }

@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }
  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }
  .mr-xl-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }
  .ml-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .m-xl-1 {
    margin: 0.25rem !important; }
  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }
  .mr-xl-1 {
    margin-left: 0.25rem !important;
    margin-right: 0 !important; }
  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }
  .ml-xl-1 {
    margin-right: 0.25rem !important;
    margin-left: 0 !important; }
  .m-xl-2 {
    margin: 0.5rem !important; }
  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }
  .mr-xl-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important; }
  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }
  .ml-xl-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important; }
  .m-xl-3 {
    margin: 1rem !important; }
  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }
  .mr-xl-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important; }
  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }
  .ml-xl-3 {
    margin-right: 1rem !important;
    margin-left: 0 !important; }
  .m-xl-4 {
    margin: 1.5rem !important; }
  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }
  .mr-xl-4 {
    margin-left: 1.5rem !important;
    margin-right: 0 !important; }
  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }
  .ml-xl-4 {
    margin-right: 1.5rem !important;
    margin-left: 0 !important; }
  .m-xl-5 {
    margin: 3rem !important; }
  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }
  .mr-xl-5 {
    margin-left: 3rem !important;
    margin-right: 0 !important; }
  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }
  .ml-xl-5 {
    margin-right: 3rem !important;
    margin-left: 0 !important; }
  .p-xl-0 {
    padding: 0 !important; }
  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }
  .pr-xl-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }
  .pl-xl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .p-xl-1 {
    padding: 0.25rem !important; }
  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }
  .pr-xl-1 {
    padding-left: 0.25rem !important;
    padding-right: 0 !important; }
  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }
  .pl-xl-1 {
    padding-right: 0.25rem !important;
    padding-left: 0 !important; }
  .p-xl-2 {
    padding: 0.5rem !important; }
  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }
  .pr-xl-2 {
    padding-left: 0.5rem !important;
    padding-right: 0 !important; }
  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }
  .pl-xl-2 {
    padding-right: 0.5rem !important;
    padding-left: 0 !important; }
  .p-xl-3 {
    padding: 1rem !important; }
  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }
  .pr-xl-3 {
    padding-left: 1rem !important;
    padding-right: 0 !important; }
  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }
  .pl-xl-3 {
    padding-right: 1rem !important;
    padding-left: 0 !important; }
  .p-xl-4 {
    padding: 1.5rem !important; }
  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }
  .pr-xl-4 {
    padding-left: 1.5rem !important;
    padding-right: 0 !important; }
  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }
  .pl-xl-4 {
    padding-right: 1.5rem !important;
    padding-left: 0 !important; }
  .p-xl-5 {
    padding: 3rem !important; }
  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }
  .pr-xl-5 {
    padding-left: 3rem !important;
    padding-right: 0 !important; }
  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }
  .pl-xl-5 {
    padding-right: 3rem !important;
    padding-left: 0 !important; }
  .m-xl-n1 {
    margin: -0.25rem !important; }
  .mt-xl-n1,
  .my-xl-n1 {
    margin-top: -0.25rem !important; }
  .mr-xl-n1,
  .mx-xl-n1 {
    margin-right: -0.25rem !important; }
  .mb-xl-n1,
  .my-xl-n1 {
    margin-bottom: -0.25rem !important; }
  .ml-xl-n1,
  .mx-xl-n1 {
    margin-left: -0.25rem !important; }
  .m-xl-n2 {
    margin: -0.5rem !important; }
  .mt-xl-n2,
  .my-xl-n2 {
    margin-top: -0.5rem !important; }
  .mr-xl-n2,
  .mx-xl-n2 {
    margin-right: -0.5rem !important; }
  .mb-xl-n2,
  .my-xl-n2 {
    margin-bottom: -0.5rem !important; }
  .ml-xl-n2,
  .mx-xl-n2 {
    margin-left: -0.5rem !important; }
  .m-xl-n3 {
    margin: -1rem !important; }
  .mt-xl-n3,
  .my-xl-n3 {
    margin-top: -1rem !important; }
  .mr-xl-n3,
  .mx-xl-n3 {
    margin-right: -1rem !important; }
  .mb-xl-n3,
  .my-xl-n3 {
    margin-bottom: -1rem !important; }
  .ml-xl-n3,
  .mx-xl-n3 {
    margin-left: -1rem !important; }
  .m-xl-n4 {
    margin: -1.5rem !important; }
  .mt-xl-n4,
  .my-xl-n4 {
    margin-top: -1.5rem !important; }
  .mr-xl-n4,
  .mx-xl-n4 {
    margin-right: -1.5rem !important; }
  .mb-xl-n4,
  .my-xl-n4 {
    margin-bottom: -1.5rem !important; }
  .ml-xl-n4,
  .mx-xl-n4 {
    margin-left: -1.5rem !important; }
  .m-xl-n5 {
    margin: -3rem !important; }
  .mt-xl-n5,
  .my-xl-n5 {
    margin-top: -3rem !important; }
  .mr-xl-n5,
  .mx-xl-n5 {
    margin-right: -3rem !important; }
  .mb-xl-n5,
  .my-xl-n5 {
    margin-bottom: -3rem !important; }
  .ml-xl-n5,
  .mx-xl-n5 {
    margin-left: -3rem !important; }
  .m-xl-auto {
    margin: auto !important; }
  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }
  .mr-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important;
    margin-right: inherit !important; }
  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }
  .mx-xl-auto {
    margin-right: auto !important;
    margin-left: auto !important; }
  .ml-xl-auto {
    margin-right: auto !important;
    margin-left: 0 !important; } }

.float-left {
  float: right !important; }

.float-right {
  float: left !important; }

.float-none {
  float: none !important; }

@media (min-width: 576px) {
  .float-sm-left {
    float: right !important; }
  .float-sm-right {
    float: left !important; }
  .float-sm-none {
    float: none !important; } }

@media (min-width: 768px) {
  .float-md-left {
    float: right !important; }
  .float-md-right {
    float: left !important; }
  .float-md-none {
    float: none !important; } }

@media (min-width: 992px) {
  .float-lg-left {
    float: right !important; }
  .float-lg-right {
    float: left !important; }
  .float-lg-none {
    float: none !important; } }

@media (min-width: 1200px) {
  .float-xl-left {
    float: right !important; }
  .float-xl-right {
    float: left !important; }
  .float-xl-none {
    float: none !important; } }

//.text-left {
//  text-align: right !important; }

//.text-right {
//  text-align: left !important; }

.text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .text-sm-left {
    text-align: right !important; }
  .text-sm-right {
    text-align: left !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 768px) {
  .text-md-left {
    text-align: right !important; }
  .text-md-right {
    text-align: left !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 992px) {
  .text-lg-left {
    text-align: right !important; }
  .text-lg-right {
    text-align: left !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: right !important; }
  .text-xl-right {
    text-align: left !important; }
  .text-xl-center {
    text-align: center !important; } }

.navbar-header {
  padding: 0 0 0 calc(24px / 2); }

.main-content {
  margin-left: 0px;
  margin-right: 250px; }

.footer {
  left: 0px;
  right: 0; }

#sidebar-menu .has-arrow:after {
  float: left; }

#sidebar-menu ul li ul.sub-menu li a {
  padding: .4rem 3.5rem .4rem 1.5rem; }

.vertical-collpsed .main-content {
  margin-left: 0px;
  margin-right: 70px; }

.vertical-collpsed .footer {
  left: 0px;
  right: 70px; }

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
  margin-left: 0;
  margin-right: 4px; }

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
  padding-right: 25px;
  padding-left: 0; }

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
  left: 0;
  right: 70px; }

.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
  left: auto;
  right: 190px; }

@media (max-width: 992px) {
  .main-content {
    margin-right: 0 !important; }
  .footer {
    right: 0; } }

.right-bar {
  float: left !important;
  left: -290px;
  right: auto; }
.right-bar .user-box .user-img .user-edit {
  right: 0;
  left: -5px; }

.right-bar-enabled .right-bar {
  left: 0;
  right: auto; }

body[data-layout=detached] .main-content {
  margin-right: 0; }

body[data-layout=detached] .navbar-brand-box {
  float: right;
  text-align: right;
  margin-left: 24px;
  margin-right: 0; }

@media (min-width: 992px) {
  body[data-layout="detached"] .page-content {
    padding-right: 24px;
    padding-left: 12px; } }

body[data-sidebar-size=small] #sidebar-menu ul li ul.sub-menu li a {
  padding-right: 1.5rem; }

body[data-sidebar-size=small].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: right; }

body[data-sidebar-size=small].vertical-collpsed .main-content {
  margin-left: 0;
  margin-right: 70px; }

body[data-sidebar-size=small].vertical-collpsed body[data-sidebar-size=small].vertical-collpsed .footer {
  left: 70px; }

body[data-layout=horizontal] .main-content {
  margin-right: 0 !important; }

body[data-layout=horizontal] .footer {
  right: 0 !important; }

@media (min-width: 992px) {
  .topnav .navbar-nav .nav-item:first-of-type .nav-link {
    padding-left: 1.3rem;
    padding-right: 0; } }

@media (min-width: 992px) {
  .topnav .dropdown .dropdown-menu {
    right: 0px;
    left: auto; } }

.arrow-down:after {
  margin-left: 0px;
  margin-right: 10px; }

.navbar-nav .dropdown-menu {
  text-align: right; }

@media (min-width: 992px) {
  .topnav .dropdown .dropdown-menu .arrow-down::after {
    right: auto;
    left: 15px;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%); }
  .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
    right: 100%;
    left: auto; } }

@media (max-width: 991.98px) {
  .topnav .dropdown .dropdown-menu {
    padding-left: 0px;
    padding-right: 15px; } }

.lnb-calendars-item {
  margin-right: 0;
  margin-left: 7px; }

input[type=checkbox].tui-full-calendar-checkbox-round + span {
  margin-right: 0px;
  margin-left: 8px; }

.tui-full-calendar-time-schedule-content {
  padding: 1px 3px 0 0; }

.legendLabel {
  padding-right: 5px !important;
  padding-left: 20px; }

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 12px; }

.select2-container .select2-selection--single .select2-selection__arrow {
  left: 3px;
  right: auto; }

.select2-container .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: 0; }

.select2-container .select2-selection--multiple .select2-search__field {
  text-align: right; }

.select2-container .select2-search--inline {
  float: right; }

.bootstrap-select .dropdown-toggle:before {
  float: left; }

.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right; }

.bootstrap-select .dropdown-toggle .filter-option-inner {
  padding-right: 0;
  padding-left: inherit; }

.dataTables_wrapper .dataTables_filter {
  text-align: left !important; }
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0px !important;
  margin-right: 0.5em; }

.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  padding-left: 5px;
  padding-right: 0; }

.tablesaw-columntoggle-popup .tablesaw-btn-group > label input {
  margin-right: 0;
  margin-left: .8em; }

.tablesaw-bar .tablesaw-bar-section .tablesaw-btn {
  margin-left: 0;
  margin-right: .4em; }

.table-rep-plugin .btn-group.pull-right {
  float: left; }

.table-rep-plugin .checkbox-row label:after {
  margin-left: -22px;
  top: -2px; }

.parsley-errors-list > li {
  padding-left: 0;
  padding-right: 20px; }
.parsley-errors-list > li:before {
  left: auto;
  right: 2px; }

/* =============
   Form wizard
============= */
.wizard > .steps .number {
  margin-left: 10px;
  margin-right: 0px; }

.editable-buttons {
  margin-left: 0;
  margin-right: 7px; }
.editable-buttons .editable-cancel {
  margin-left: 0;
  margin-right: 7px; }

.dropdown-megamenu.show {
  left: 20px !important; }

.icon-list-demo i {
  margin-left: 12px;
  margin-right: 0; }

@media print {
  .content-page,
  .content,
  body {
    margin-right: 0; } }

.demos-show-btn {
  left: 0;
  right: auto;
  border-radius: 0 6px 6px 0; }

.review-carousel .carousel-control-prev {
  right: auto;
  left: 40px; }

.review-carousel .carousel-control-next {
  left: 0;
  right: auto; }

.timeline-count .row:nth-child(odd) .timeline-box:last-child:before {
  border-left: 3px solid #eff2f7;
  border-right: 0; }

.timeline-count .row:nth-child(even) .timeline-box:last-child:before {
  border-left: 0;
  border-right: 3px solid #eff2f7; }

.email-leftbar {
  float: right; }

.email-rightbar {
  margin-right: 260px;
  margin-left: 0px; }

.message-list li .col-mail {
  float: right; }

.message-list li .col-mail-1 .star-toggle, .message-list li .col-mail-1 .checkbox-wrapper-mail, .message-list li .col-mail-1 .dot {
  float: right; }

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 20px 0 10px; }

.message-list li .col-mail-1 .star-toggle {
  margin-right: 5px; }

.message-list li .col-mail-1 .title {
  right: 110px;
  left: 0; }

.message-list li .col-mail-2 {
  right: 320px;
  left: 0; }
.message-list li .col-mail-2 .subject {
  right: 0;
  left: 200px; }
.message-list li .col-mail-2 .date {
  left: 0;
  right: auto;
  padding-right: 80px;
  padding-left: 0px; }

.message-list .checkbox-wrapper-mail label:before {
  right: 4px; }

@media (max-width: 767px) {
  .email-leftbar {
    float: none !important;
    width: 100%; }
  .email-rightbar {
    margin-right: 0; } }

.home-btn {
  position: absolute;
  left: 25px;
  right: auto; }

.select2-container{
  line-height: 1.5 !important;
  color: #7e8396 !important;
  background-color: #2b384a !important;
  background-clip: padding-box !important;
  border: 1px solid #364458 !important;
  border-radius: 0.25rem !important;
  padding-bottom: 10px !important;
}
.select2-selection{
  line-height: 1.5 !important;
  color: #7e8396 !important;
  background-color: #2b384a !important;
  background-clip: padding-box !important;
  //border: 1px solid #364458 !important;
  border-radius: 0.25rem !important;
}
.select2-container--default .select2-selection--multiple{
  border: none!important;
}
.select2-container .select2-selection--multiple{
  border: none!important;
}

.vitrin-img{
  width: 30px;
  padding: 3px;
}